/*стиль заголовка*/
.item1 {
   font-size: x-large;
   color: olive;
   margin: auto;
   padding-left: 14px;
}

/*стиль текста*/
.item2 {
   font-size: medium;
   color: rgb(119, 68, 44);
   margin: auto;
}

/*стиль списка*/
.item3 {
   font-size: medium;
   color: darkolivegreen;
   margin: auto;
}

/*стиль ссылки*/
.item4 {
   font-size: small;
   color: rgb(154, 113, 84);
   margin: auto;
}

/*стиль картинки*/
.item5 {
   width: 500px;
}

body {
   background-color: rgba(251, 255, 205, 0.863);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content {
   display: flex;
   align-items: center;
   margin: auto;
}

.content-left {
   margin-left: 0%;
   background-color: lightyellow;
   margin: 10px;
   padding: 4px;
   border: 4px solid rgb(151, 134, 3);
   border-radius: 4px;
}

.content-right {
   margin-right: 0%;
   background-color: lightyellow;
   margin: 10px;
   padding: 4px;
   border: 4px solid rgb(151, 134, 3);
   border-radius: 4px;
}

.header {
   text-align: right;
   color: inherit;
}

.container {
   background-color: darksalmon;
   display: flex;
   align-items: center;
   margin: auto;
   flex-direction: column;
   padding: 20px;
}

.block {
   width: 200px;
   height: 200px;
   background: rgb(210, 99, 62);
   margin-right: auto;
   margin-left: auto;
}

.image {
   width: 200px;
   margin-right: auto;
   margin-left: auto;
   padding-top: 20px;
}

.container-2 {
   background-color: darkgoldenrod;
   display: flex;
   align-items: center;
   margin: auto;
   padding: 20px;
}

.block-2 {
   width: 200px;
   height: 200px;
   background: goldenrod;
   margin-right: auto;
   margin-left: auto;
}

.container-3 {
   background-color: darkslategrey;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   margin: auto;
   padding: 20px;
   border: 4px solid lightseagreen;
}

.block-3 {
   width: 200px;
   height: 200px;
   background: lightseagreen;
   padding: 20px;
   margin: 10px;
}

.container-4 {
   border: 4px solid black;
   background-color: white;
   margin: auto;
   padding: 20px;
   position: relative;
   height: 600px;
}

.block-4 {
   width: 200px;
   height: 200px;
   border: 4px solid red;
   position: absolute;
   top: 100px;
   left: 520px;
}

.block-5 {
   width: 200px;
   height: 200px;
   border: 4px solid blue;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto;
}

.block-6 {
   width: 200px;
   height: 200px;
   border: 4px solid green;
   position: absolute;
   right: 520px;
   bottom: 100px;
}

.fixed-block {
   position: fixed;
   width: 100px;
   height: 100px;
   bottom: 0;
   right: 0;
}
